html {
    font-size: 62.5%;
    height: 100%;
}

body {
    // background: $dark-blue;
    // background: $swag-purple;
    
    background: linear-gradient(135deg, #6c33da, #af4dfd);
    background-attachment: fixed;
    font-family: 'Droid Sans', sans-serif; 
    color: red;
    font-size: $m-size
}

button {
    cursor: pointer;
}

button:disabled {
    cursor: default;
}
